// bower:scss
// endbower

$c_primary: crimson;
$c_bg: mistyrose;
$c_base: mix(black,mistyrose, 80%);

body {
  background: $c_bg;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $c_base;
  margin: 0;
}

.browserupgrade {
  margin: 0;
  padding: 1em;
  text-align: center;
  background: #222;
  color: yellow;
  a {
    color: inherit;
  }
}

.wrapper {
  margin: 100px auto 0;
  max-width: 650px;
  text-align: center;
}

section {
  transition: all ease 0.3s;
  height: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
}

h1 {
  margin: 0 0 1em;
  font-size: 4em;

  b { // emoji
    font-size: 1.5em;
  }
}

button {
  display: inline-block;
  font-size: 1.5em;
  padding: 0.5em 1em 0.6em;
  box-shadow: 0 1px 3px rgba(#000,0.1);
  border-radius: 0.4em;
  border: none;
  background: $c_primary;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  box-shadow: 0 0 0 1px rgba(#000,0.1) inset,
          0 -3px 0 rgba(#000,0.1) inset;
  text-shadow: 0 1px 1px rgba(#000,0.2);
  margin: 0 0.5em;
  min-width: 4em;
  font-weight: bold;

  &:hover, &:focus {
    background: lighten($c_primary, 5%);
    box-shadow: 0 0 0 1px rgba(#000,0.1) inset,
          0 -3px 0 rgba(#000,0.2) inset;
  }

  &:active {
    transform: translateY(1px);
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.3;
  }
}
